@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2'),
         url('/fonts/SuisseIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

  html {
    font-family: 'Suisse Intl', sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
  }